version: "3.9"

services:
  app:
    build: .
    container_name: practice-p2-app
    restart: always
    ports:
      - "3052:3052"
    env_file: .env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: practice-p2-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
